[submodule "claude"]
	path = claude
	url = git@github.com:yondifon/.claude.git
[submodule "ssh"]
	path = ssh
	url = git@github.com:yondifon/ssh.git
[submodule "opencode"]
	path = opencode
	url = git@github.com:yondifon/opencode.git
[submodule "skills"]
	path = skills
	url = git@github.com:yondifon/skills.git
